* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 20px;
  border-bottom: 1px solid #aa8740;
}

.main-container {
    margin-top: 50px;
}

.bid-hit {
    color: #aa8740;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 10px;
  }

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .logo {
  margin-right: 30px;
}
nav .logo img {
  height: 80px;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: rgb(170, 135, 64);
}

nav .menu-btn i {
  color: rgb(170, 135, 64);
  font-size: 18px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}

.heading {
  color: #aa8740;
}

p {
  color: #e3d7bd;
}

.inpt {
  background-color: #e3d7bd;
  color: black;
}

.btn {
  background-color: #aa8740;
  color: white;
}

.box {
  border: #aa8740;
}

.logo-big {
  height: 400px;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: black;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.container {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 940px) and (max-width: 1040px) {
  nav ul li a {
    font-size: 9px;
  }
}

@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    background-image: url(./image/menu-background.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    left: 0%;
    z-index: 1;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 15px;
    display: block;
    color: white;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: rgb(170, 135, 64);
  }
  nav .menu-btn i {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
  }
  .navbar .menu.active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem 0;
  }
}
.contact {
  margin-top: 40px;
}
.team {
  margin-top: 40px;
}
