* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

body {
  background-color: black;
}

nav {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 20px;
    border-bottom: 1px solid #aa8740;
  }

  .bid-hit {
    color: #aa8740;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 10px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .mid {
    z-index: 1;
  }
  
  nav .logo {
    margin-right: 30px;
  }
  nav .logo img {
    height: 80px;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: rgb(170, 135, 64) !important;
  }
  
  nav .menu-btn i {
    color: rgb(170, 135, 64);
    font-size: 18px;
    cursor: pointer;
    display: none;
  }
  #click {
    display: none;
  }
  
  @media (min-width: 940px) and (max-width: 1040px) {
    nav ul li a {
      font-size: 9px;
    }
  }
  
  @media (max-width: 940px) {
    body {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      position: absolute;
    }
  
    nav ul {
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul {
      background-image: url(/image/menu-background.jpg);
      background-position-x: right;
      background-repeat: no-repeat;
      left: 0%;
      z-index: 1;
    }
    nav ul li {
      margin: 40px 0;
    }
    nav ul li a {
      font-size: 15px;
      display: block;
      color: white;
    }
    nav ul li a:hover,
    nav ul li a.active {
      background: none;
      color: rgb(170, 135, 64);
    }
    nav .menu-btn i {
      display: block;
    }
  }

  /* Footer */

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff !important;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #aa8740;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #aa8740;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #aa8740;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #e3d7bd;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 0 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #aa8740;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 20px 0 10px 0;
}
footer .bottom a{
  color: #aa8740;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #aa8740 !important;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/* Product Details */
.main-container {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 50px;
}

.left-container {
  width: 50%;
}

.product-img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.right-container {
  width: 50%;
  padding: 20px;
}

.product-name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #aa8740;
}

.desc-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #aa8740;
}

.product-desc {
  font-size: 16px;
  line-height: 25px;
  color: #e3d7bd;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #e3d7bd;
  width: 100%;
  margin: 15px 0;
}

.btn {
  width: 110px;
  height: 45px;
  background: #aa8740;
  border-radius: 5px;
  border: 2px solid #aa8740;
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #aa8740;
}

.base-price {
  font-size: 20px;
  font-weight: 500;
  color: #e3d7bd;
}

.ipt {
  height: 45px;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
  width: auto;
}

@media (max-width:1100px) {
  .main-container {
    flex-direction: column;
    margin: 40px 20px;
  }
  .left-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-container {
    width: 100%;
  }
  .product-img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .product-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #aa8740;
  }
  .desc-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #aa8740;
  }
  .product-desc {
    font-size: 14px;
    line-height: 25px;
    color: #e3d7bd;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 10px;
    height: 35px;
  }
  .price {
    font-size: 18px;
    font-weight: 600;
    color: #aa8740;
  }
  .base-price {
    font-size: 18px;
    font-weight: 500;
    color: #e3d7bd;
  }
  .ipt {
    height: 35px;
    font-size: 15px;
  }
}

/* Clock */
.clock-h1 {
  color: #aa8740;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	color: black;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #aa8740;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #e3d7bd;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}