
.About-us{
    background-color: deeppink;
    padding: 10px 0;
    margin-bottom: 20px;
}
#About-us-h1-header {
    color: #FFFFFF;
    text-align: center;
    font-family: "Times New Roman";
}
.about h1 {
    padding: 10px 0;
    margin-bottom: 20px;
}